canvas {
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: block;
}

button {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
}

p {
    display: inline-block;
}